body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f5f5f5;
}

h1 {
  color: #2e3b4e;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;     /* makes it circular */
  object-fit: cover;      /* fits image properly */
  border: 3px solid #2e3b4e;
  margin: 20px 0;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
  background-color: white;
}

th, td {
  border: 1px solid #999;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #2e3b4e;
  color: white;
}
body{
  background-image: url("https://wallpapers.com/images/hd/abdul-kalam-hd-bright-smile-y53pvtfrmdxhmsqj.jpg");
}

